.footer{
    background-color: #F6F6F8;
   

}
.f{
    margin-top: 5rem !important ;
    margin-bottom: 5rem !important;
}
.footers{
    width: 82% !important;
}
.get{
    width: 20rem !important;
    font-size: 15px !important;
}