/* .clo {
  width: 100% !important;
  margin: auto !important ;
  margin-bottom: 2rem !important;
} */
@media only screen and (max-width: 768px) {
  .row.col-lg-5 {
    width: 50%; /* Set the width to 50% on medium screens */
  }
}

@media only screen and (min-width: 900px) {
  .row.col-lg-5 {
    width: 50%;
    margin-left: 23.5rem !important;
  }
}
@media only screen and (max-width: 700px) {
  .row.col-lg-5 {
    margin-left: 5rem !important;
  }
}

@media only screen and (min-width: 700px) and (max-width: 900px) {
  .row.col-lg-5 {
    margin-left: 7rem !important;
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .row.col-lg-5 {
    width: 70%; /* Adjust the width of the form container */
    margin: 0 auto; /* Center the form horizontally */
  }

  .shadow.bg-white.px-5.position-relative {
    padding: 20px; /* Adjust padding to prevent overflow */
  }

  /* Adjust select boxes to fit within the form */
  .px-5 {
    flex: 1; /* Make select boxes flexible */
    max-width: calc(33.33% - 10px); /* Set max-width for each select box */
  }
}
@media only screen and (max-width: 768px) {
  .row.col-lg-5 {
    width: 50%; /* Set the width to 50% on medium screens */
  }
}
@media only screen and (min-width: 768px) {
  .row.col-lg-5 {
    width: 75%; /* Adjust the width of the form container */
    margin: 0 auto; /* Center the form horizontally */
  }

  .shadow.bg-white.px-5.position-relative {
    padding: 20px; /* Adjust padding to prevent overflow */
  }

  /* Adjust select boxes to fit within the form */
  .px-5 {
    flex: 1; /* Make select boxes flexible */
    max-width: calc(33.33% - 10px); /* Set max-width for each select box */
  }
}
